# Xcode
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM
build/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
*.whl
.pytest_cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
.vscode/
*.swp
